body {
  text-align: center;
  align-items: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 189, 189) 0%,
    rgb(255, 216, 168) 62%,
    rgb(255, 248, 168) 100.7%
  ) !important;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Inter";
  font-style: normal;
  color: #303345;
}

.code-link {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 24px;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* .searchForm {
} */

.ContentBox {
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.29);
  border: 6px solid #ffffff;
  box-shadow: 30px 30px 40px -10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 18px;
  left: 0px;
  border-radius: 56px;
  padding: 12px;
}

.city {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
}

button {
  padding: 0 !important;
  width: 120px;
  height: 40px;
  border: 1px solid #ffffff !important;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0;
  background-color: #de8a2a !important;
}

.myGeoBtn {
  background-color: #1468c0 !important;
}

span {
  padding-right: 24px;
}

::placeholder {
  background-color: rgba(255, 255, 255, 0.36) !important;
  border: 0.5px solid rgba(255, 255, 255, 0.5) !important;
  border-radius: 10px;
  height: 50px;
}

.WeatherIconSmall {
  width: 50px;
  height: 50px;
  align-items: center;
}

.IconAndTemp {
  display: flex;
}

img,
.MainIcon {
  width: 150px;
  height: 150px;
}

.Header {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  color: #303345;
}

.CityWeather,
ul {
  padding: 0;
  list-style-type: none;
  text-align: start;
  margin-top: 24px;
}
.MainTemp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  /* identical to box height */

  color: #303345;
}
.WeekWeatherList {
  padding: 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.no-margin {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
