.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WeatherIconSmall {
  width: 50px;
    height: 50px;
    align-items: center;
}

.IconAndTemp {
  display: flex;
}

.MainIcon{
  width: 70px;
  height: 70px;
}

ul {
  list-style-type: none;
  text-align: start;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.WeatherDashboard {
  background: radial-gradient(99.73% 98.31% at 51.96% 40.13%, rgba(96, 103, 242, 0.8) 0.01%, rgba(52, 52, 52, 0.8) 94.06%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    box-shadow: 10px 28px 36px 17px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25.5px);
    /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 56px;
    
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
